<header class="main-header">
  <div class="container">
    <nav class="navigation">
      <a href="index.html" class="nav-logo-img"
        ><img src="../img/logo/logo.png" alt="logo" />Product</a
      >
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-list-link current">Product</a>
        </li>
        <li class="nav-list-item">
          <a href="./pricing.html" class="nav-list-link">Pricing</a>
        </li>
        <li class="nav-list-item">
          <a href="./customers.html" class="nav-list-link">Customers</a>
        </li>
        <li class="nav-list-item">
          <a href="./Resourses.html" class="nav-list-link">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list-btn">
      <li class="header-button-item">
        <button type="button" class="header-btn Sign-In">Sign In</button>
      </li>
      <li class="header-list-bnt">
        <button type="button" class="header-btn Sign-Up">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
