.main-header .container {
    justify-content: space-between;
    display: flex;    
}
.navigation {
    display:flex;
    gap:237px;
}
.nav-logo-img {
    align-items: center;
    font-weight: 700;
font-size: 30px;
line-height: 1;
color: #173a56;
display:flex;
gap:16px;
}
.nav-list{
    align-items: center;
    gap:30px;
    display:flex;
}
.nav-list-item {
    display:flex;
}
.nav-list-link {
    padding:26px 0;
    display:block;
    
}
.current {
    font-weight: 600;
font-size: 16px;
line-height: 1.75;
color: #22343d;
}
.header-list-btn{
    display: flex;
    gap:21px;
}
.header-btn {
   border-radius: 4px;
   font-weight: 600;
font-size: 16px;
text-align: center;
}
.Sign-In {
    
width: 105px;
height: 42px;
     border: 1px solid #bcd0e5;
     background-color: #fff;
color: #173a56;
}
.header-list-bnt {
border-radius: 4px;
}
.Sign-Up {
    background: #02897a;
  
width: 113px;
height: 42px;
color: #fff;
}